extends base


block content
    div
        p=video.description 
        div
            p=video.hashtags
            small=video.createdAt 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;